@mixin space-between() {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin layer() {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  @include flex-center(15px);
  backdrop-filter: blur(5px);
}
