@use "./partials/reset" as *;
@use "./partials/var" as *;
@use "./partials/mixins" as *;

.container {
  max-width: 1500px;
  padding-left: 0 $space-m;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc($space-m * -1);

    .col {
      padding: 0 $space-m;
    }
  }
}

.layover {
  @include layer();
  z-index: 2;
}
